<html>  
  
<head>  
	<meta charset="utf-8">
    <TITLE>{{title}}</TITLE>  
</head>  
  
<body>  
    <h1> Main Page Petaaaaaaaa</h1>
    <a href="/happy">Happy Peta?</a></br>
    <a href="/sad">Sad Peta></a>
</body> 

</html>  